:root{
  --select_bg_icon: url(../img/chevron-down.webp);
}

*{
  box-sizing: border-box;
  outline: 0;
  font-family: $lato;
  color: #494949;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

option[default] {
  display: none;
}

select, input, textarea{
  border: $border;
  padding: 7px;
  background-color: $white;

  &:focus{
      border: 1px solid #616161;
  }

  &::placeholder(){
    color: rgb(141, 141, 141);
  }
}

label, input, select, button, textarea, a{
  font-size: 15px;
}

button, a{
  border: none;
  padding: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 3px;
}

button{
  background-color: $lightblue;
  color: $white;

  &:hover{
    color: $white;
    background-color: lighten($lightblue, 10%);
  }
}

i, button, a, li{
  cursor: pointer;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: $white var(--select_bg_icon) no-repeat right content-box;
  background-size: 10px;
}

.i-error{
  border: 1px solid rgb(209, 0, 0);
}

.hide-loader{
  display: none;
}

.flex{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.flex-column{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.j-flex-start{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.j-space-between{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.j-space-around{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.j-space-evenly{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.j-content-end{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.j-content-center{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-wrap-wrap{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.container {
    height: 100vh;
    overflow: hidden;
    background: $white;
    transition: 0.5s;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  // display: block;
}

.tooltip {
  display: none;
  position: fixed;
  padding: 0.5em 1em;
  background-color: rgb(0, 0, 0);
  opacity: 0.9;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  z-index: 1;
  line-height: 20px;
}

.no-search-result {
  text-align: center;
  color: #494949;
}

body{
  &.modal-active {
    overflow: hidden;
  }
}