$border: 1px solid #C7C7C7;
$border2: 2px solid #C7C7C7;
$border3: 1px solid #F8F8F8;
$lato: 'Lato', sans-serif;

/*---random colors*/
$white: #ffffff;
$green: #008000;
$red: #A60000;

/*---button,panel colors*/

$scrollbars: #9d9d9d;
$placeholder_color: #707070;

$lightblue: #25A7FF;
$lightgray: #f6f6f6;
$darkgreen: #379D76;




